/** BUGFIX STYLES FOR IE 6 AND LOWER **/
.button a, .button a:hover, .button a:link, .button a:visited, .button a:active
{
	display: inline-block;
}

.image_preview img
{
	width: 270px;
	height: 180px;
	border: 1px solid #228822;
	margin-top: 4px;
	padding: 1px;
}


